* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #dfe6e9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calender {
  width: 600px;
  background-color: #fff;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.5);
}

.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
  background-color: #1900ff;
  color: #fff;
  padding: 40px 30px;
}

.prev,
.next {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  width: 50px;
  height: 50px;
  background-color: rgba(7, 215, 252, 0.938);
  border-radius: 50%;
  transition: all 0.4s;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#month {
  font-size: 30px;
  font-weight: 600;
}

.weekdays {
  background-color: #0e074d;
  color: #fff;
  display: flex;
  padding: 7px 0;
}

.days {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  padding: 10px 0;
}
.days div {
  margin-bottom: 10px;
  padding: 10px 0;
  transition: all 0.4s;
}

.weekdays div,
.days div {
  width: 14.28%;
  text-align: center;
}

.days div:hover {
  background-color: #dfe6e9;
  cursor: pointer;
  border-radius: 10px;
}
.today {
  background-color: #0ec3db;
  color: #fff;
}

.prev_date {
  color: rgb(184, 173, 173);
}

.sunday {
  background-color: red;
  color: #fff;
}
